.main-nav-button {
  display: inline-block!important;
  padding-right:40px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #fff;
}

input[type=text]:focus+label {
  color:#fff!important;
}

input[type=text]:focus {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

#modal-search-results {
  overflow: auto;
  max-height: 300px;
}

#modal-search-results img {
  width:70%;
}

.result-detals-footer {
  padding-top:40px;
}

.result-detals-footer span {
  padding-left:40px;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 100%;
  }
}

/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
