.main-nav-button {
  display: inline-block!important;
  padding-right:40px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #fff;
}

input[type=text]:focus+label {
  color:#fff!important;
}

input[type=text]:focus {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

#modal-search-results {
  overflow: auto;
  max-height: 300px;
}

#modal-search-results img {
  width:70%;
  border: 3px solid #BBB;
  border-radius: 5px;
}

.collapsible-body {
  padding-top:20px;
}

.collapsible-body .col {
  position:relative;
}

.collapsible-body img {
  width:100%;
  height:100%;
  border: 3px solid #BBB;
  border-radius: 5px;
}

.result-details-footer {
  padding-top:50px;
}

.result-details-footer button {
  margin-left:40px;
}

.change-picture {
  display: inline-block;
  width:50px;
  position: absolute;
}

.change-picture i {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 205px;
  cursor:pointer;
  opacity:0.5;
}

#change-picture-prev,
#change-picture-prev i {
  left:0;
}

#change-picture-next,
#change-picture-next i {
  right:0;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 100%;
  }
}

/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
