.main-nav-button {
  display: inline-block!important;
  padding-right:40px;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #fff;
}

input[type=text]:focus+label {
  color:#d50000!important;
}

input[type=text]:focus {
  border-bottom: 1px solid #d50000!important;
  box-shadow: 0 1px 0 0 #d50000!important;
}
